@import "tailwindcss";
@import "./styles/print.css";

@theme {
  --color-primary: #4338ca;
  --color-secondary: #f97316;
  --font-cairo: "Cairo", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: #f3f4f6;
  font-family: "Cairo", sans-serif;
}

/* RTL Support Mixins if needed, but standard logic usually works */
[dir="ltr"] body {
  font-family: "Inter", sans-serif;
}